* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

/* classi riutilizzabili */
.container {
	width: 80%;
	/* da cancellare */
	height: 100%;
	/* background-color: white; */
	/* /da cancellare */
	margin: auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

ul {
	list-style: none;
}

a:hover {
	font-weight: bolder;
}

/* button */
.btn {
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px 10px;
}

.btn-green {
	background-color: rgb(77, 205, 44);
}

.btn-large {
	padding: 20px;
}

.btn-blue {
	background-color: #19406a;
	border: 1px solid white;
}
/* /button */

/* header */
header {
	background-color: #19406a;
	background-image: url('../img/background-header.png');
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: 110% 110%;
	color: white;
}


.header-nav {
	height: 80px;
	line-height: 80px;
}

.header-nav a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}

.header-nav li {
	display: inline-block;
	padding: 0 10px;
}

.header-logo {
	width: 20%;
	height: 100%;
	position: relative;
}

.header-logo img {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}


.jumbotrom {
	height: 470px;
	position: relative;
}

.jumbotrom .jumbotrom-box {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
}

.jumbotrom .jumbotrom-box h1 {
	margin-bottom: 40px;
	font-size: 70px;
}

.jumbotrom .jumbotrom-box a {
	color: white;
}

/* main */
/* language */
.language {
	text-align: center;
	position: relative;
}

.language-box {
	padding: 80px;
	background-color: rgb(184, 195, 190);
}

.language h2 {
	font-size: 30px;
	margin-bottom: 30px;
}

.language h3 {
	color: grey;
}


/* piano */
.box {
	margin-top: 50px;
}

.piano-formativo {
	width: 33%;
	padding: 10px;
}

.piano-formativo img {
	width: 100px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

hr {
	width: 20%;
	margin-left: 40%;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid black;
}

.piano-formativo h3 {
	color: rgb(77, 205, 44);
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
	padding: 0 30px;
}

.piano-formativo p {
	text-align: center;
	margin-top: 30px;
	color: grey;
	padding: 0 50px;
}

.affiancamento {
	width: 33%;
}

.affiancamento img {
	width: 150px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.affiancamento h3 {
	color: rgb(77, 205, 44);
	text-align: center;
	font-size: 30px;
	margin-top: 55px;
	padding: 0 30px;
}

.affiancamento p {
	text-align: center;
	margin-top: 30px;
	color: grey;
	padding: 0 95px;
}

.monitoraggio {
	width: 33%;
}


.monitoraggio img {
	width: 150px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.monitoraggio h3 {
	color: rgb(77, 205, 44);
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	padding: 0 30px;
}

.monitoraggio p {
	text-align: center;
	margin-top: 30px;
	color: grey;
	padding: 0 60px;
}


/* livello iniziale */
.livello-iniziale {
	/* da cancellare */
	height: 300px;
	background-color: blue;
	/* /da cancellare */
}

/* fondo pagina */
footer {
	height: 120px;
	background-color: brown;
}
