* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* classi riutilizzabili */
.container {
	width: 80%;
	/* da cancellare */
	height: 100%;
	/* background-color: white; */
	/* /da cancellare */
	margin: auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

ul {
	list-style: none;
}

a:hover {
	font-weight: bolder;
}

/* button */
.btn {
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px 10px;
}

.btn-green {
	background-color: rgb(77, 205, 44);
}

.btn-large {
	padding: 20px;
}

.btn-blue {
	background-color: #19406a;
	border: 1px solid white;
}
/* /button */

/* header */
header {
	background-color: #19406a;
	background-image: url('../img/background-header.png');
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: 110% 110%;
	color: white;
	font-family: 'Roboto', sans-serif;
}


.header-nav {
	height: 80px;
	line-height: 80px;
}

.header-nav a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}

.header-nav li {
	display: inline-block;
	padding: 0 10px;
}

.header-logo {
	width: 20%;
	height: 100%;
	position: relative;
}

.header-logo img {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}


.jumbotrom {
	height: 470px;
	position: relative;
}

.jumbotrom .jumbotrom-box {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
}

.jumbotrom .jumbotrom-box h1 {
	margin-bottom: 40px;
	font-size: 70px;
}

.jumbotrom .jumbotrom-box a {
	color: white;
}

/* main */
main {
	/* da cancellare */
	height: 700px;
	background-color: lightgray;
	/* /da cancellare */
}

.language {
	/* da cancellare */
	height: 120px;
	background-color: grey;
	/* /da cancellare */
}

.piano {
	/* da cancellare */
	height: 300px;
	background-color: lightblue;
	/* /da cancellare */
}

.livello-iniziale {
	/* da cancellare */
	height: 300px;
	background-color: blue;
	/* /da cancellare */
}

/* fondo pagina */
footer {
	height: 120px;
	background-color: brown;
}
